*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Cookies*/
section.cookies {
    position: fixed;
    bottom:30px;
    
    background-color:aquamarine;
    border-radius: 5px 20px 5px;
    box-sizing : border-box;
    width: 96%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99;

    min-height: 50px;
}

section.cookies button {
    float: right;
    border-radius: 50%;
}

section.cookies p {
    display: inline;
}

div#mainContent {
    margin-bottom: 100px;
}

label {
    display: block;
    font-size: .9rem;
    width: 35%;
}

/*API data fetching*/
#bottomLoading {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: yellow;
    width: 200px;
    margin: auto;

    border-style: solid;
    border-width: 1px;
}

.bottomLoadingMoveUp {
    bottom : -200px;

    animation-name: bottomLoadingMoveUpTransition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes bottomLoadingMoveUpTransition {
    to {
        transform: translateY(-210px);
    }
}

.bottomLoadingMoveDown {
    bottom: 10px;

    animation-name: bottomLoadingMoveDownTransition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes bottomLoadingMoveDownTransition {
    to {
        transform: translateY(210px);
    }
}